<html ng-app="myApp">
   <head>
      <title>Assignment_3</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="angularstyle.js"></script>
      <style>
         body{
         padding:  5%;
         }            
         .main{
         padding: 2%;
         float: left;
         }
         .style1{
         color: red;
         }
         .style2{
         color: blue;
         }
      </style>
   </head>
   <body ng-controller="myCtrl">
      <div class="main">
         <h2>Checkbox using ng class</h2>
         <p ng-class="{style1: checkBox.checked, style2: !checkBox.checked}" >
            <input type="checkbox" ng-model="checkBox.checked">Check me to change my color
         </p>
         <h2>Checkbox using ng style</h2>
         <p ng-style="{'color': (value) ? 'red' : 'blue'}" >
            <input type="checkbox" ng-model="value">Check me to change my color
         </p>
      </div>
   </body>
</html>